body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.bin {
    border: 2px solid black;
    width: 150px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid black;
    width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.card img {
    border: 2px solid black;
    max-width: 150px;
    max-height: 150px;
}