body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.score-timer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;
}

.game-area{
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.bin {
    border: 2px solid black;
    width: 150px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid black;
    width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.card img {
    border: 2px solid black;
    max-width: 150px;
    max-height: 150px;
}